body {
  margin: 0;
}

div {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}
.div1 {
  float: left;
}

.div2 {
  float: none;
  clear: both;
  margin-left: 45%;
}

.div3 {
  float: right;
  clear: both;
}
