html {
  height: auto;
  width: auto;
}
body {
  margin: 0;
}

div {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}

.div1 {
  background-color: gray;
  position: absolute;
  width: 700px;
  height: 300px;
  bottom: 0;
  right: 0;
}

.div2 {
  position: absolute;
  bottom: 0;
  flex-flow: row;
  align-content: center;
  right: 500px;
}

.div3 {
  position: absolute;
  margin-left: 500px;
  margin-bottom: 100px;
  bottom: 0;
  right: 0;
}
